@model GameReviews.Models.Game

@{
    ViewBag.Title = "Delete";
}
<div style="display: flex; flex-direction: column; align-content: center; align-items: center; margin: 5% 0; background-color: rgba(0, 0, 0, 0.3); padding: 5em; border-radius: 10em;">
    <div style="color: white; display: flex; flex-direction: column; align-content: center; align-items: center; text-align: center;">
        
        <h4>If you delete @Model.Title all of the comments and upvotes will be deleted with it</h4>
        <h4 style="margin-top: 0; border-bottom: 0.1em solid red;">There's no way to undo this</h4>
        <img src="@Model.PictureURL" />
        <h5>Are you sure you want to delete?</h5>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        }
    </div>
</div>
