@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h4>This is my project for the Internet Technologies course.</h4>
<h5>made by Gjorgji Dimeski 2021</h5>
<style>
    * {
        color: white; 
    }
</style>