@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:gjorgji.dimeski@students.finki.ukim.mk">gjorgji.dimeski@students.finki.ukim.mk</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/dimeskigj">dimeskigj</a>
</address>

<style>
    * {
        color: white;
    }
</style>