
:root {
    --color-dark: rgba(23, 26, 33, 0.5);
    --color-blank: rgba(199, 213, 224, 1);
    --color-accent: rgba(102, 192, 244, 0.3);
    --color-standard: rgba(27, 40, 56, 1);
    --color-standard-pale: rgba(42, 71, 94, 1);
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    color: white;
    position: relative;
    /*float: left;*/
    margin: 0.5em;
    width: 25em;
    transition: 0.2s;
}

.image a{
    color: white;
    text-decoration: none;
}

.image-img {
    border-radius: 5px;
    display: block;
    width: 100%;
    transition: 0.2s;
}

.image:hover {
    width: 26em;
    margin: 0em;
    border: none;
}

.image-overlay {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(0, 0, 0, 0.5);
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    backdrop-filter: blur(2.5px);
    transition: 0.2s;
}

.image-title {
    font-family: 'Poppins', sans-serif;
    border-bottom: 0.1em solid var(--color-dark);
    margin-bottom: 0.8em;
    box-shadow: 0 0.7em 1em var(--color-dark);
}

.image-overlay:hover {
    border: solid 2px #66c0f4;
    box-shadow: 0 0 10px #66c0f4 ;
    opacity: 1;
}

.image-overlay > *{
    transform: translateY(25px);
    transition: transform 0.2s;
}

.image-overlay:hover > * {
    transform: translateY(0px);
}

.image-title {
    font-size: 2em;
    font-weight: bold;
}

.image-details {
    margin-top: 0.2em;
}
